body > div {
  display: table;
  width: 100%;
}

nav ul {
  display: table;
  height: 100px;
  width: 100%;
}

aside {
  display: table-cell;
  width: 200px;
  height: 100%;
}

section {
  overflow: auto;
  height: 200px;
}

li {
  border: 1px solid blue;
}

nav li {
  width: 33%;
  display: table-cell;
}

aside li {
  height: 50px;
}

section li {
  height: 100px;
}

* {
  box-sizing: border-box;
}
